= '\n'

// for Google
meta(name='keywords', content='memoryroll,sequence,loop,random,rotate,roll,jquery-plugin,ecosystem:jquery,jQuery,plugin')/
meta(name='description', content='Smart sequence loop starting from a random number')/
